aiofiles
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
attrs
blinker
cachetools
certifi
charset-normalizer
click
dataclasses-json
distro
elevenlabs
faiss-cpu
fastapi
ffmpy
filelock
filetype
frozenlist
fsspec
gitdb
GitPython
# google-generativeai
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-ai-generativelanguage
googleapis-common-protos
gradio
gradio_client
groovy
groq
grpcio
grpcio-status
gTTS
h11
hf-xet
httpcore
httplib2
httptools
httpx
httpx-sse
huggingface-hub
idna
Jinja2
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
# langchain
# langchain-community
# langchain-core
# langchain-google-genai
# langchain-huggingface
# langchain-text-splitters
langsmith
markdown-it-py
MarkupSafe
marshmallow
mdurl
mpmath
multidict
mypy_extensions
narwhals
networkx
numpy
orjson
packaging
pandas
pillow
propcache
proto-plus
# protobuf
pyarrow
pyasn1
pyasn1_modules
PyAudio
pydantic
pydantic-settings
pydantic_core
# pydeck
# pydhub
Pygments
pyparsing
pypdf
# python-dateutil
# python-dotenv
# python-multipart
pytz
PyYAML
referencing
regex
requests
requests-toolbelt
rich
rpds-py
rsa
ruff
safehttpx
safetensors
scikit-learn
scipy
semantic-version
sentence-transformers
setuptools
shellingham
six
smmap
sniffio
SpeechRecognition
SQLAlchemy
starlette
streamlit
sympy
tenacity
threadpoolctl
tokenizers
toml
tomlkit
torch
tornado
tqdm
transformers
typer
typing-inspect
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
uvicorn
uvloop
watchfiles
websockets
yarl
zstandard